.header{
    width:100%;
    height: 80px;
    line-height: 80px;
    position: relative;
    border-bottom: 1px solid #ececec;
    background-color: #31AAE8;
}
.header h2{
    font-size: 20px;
    position: absolute;
    left:80px;
    color: #fff;
}
.header .btn{
    display: none;
}
.header .logo{
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    top:50%;
    margin-top: -24px;
    left: 20px;
    z-index: 200;
    background: url("../img/logo.png") no-repeat;
    background-size:48px;
    animation: change 5s linear infinite;
    -webkit-animation: change 5s linear infinite;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
.header .logo:hover{
    animation-play-state: running;
    -webkit-animation-play-state: running;
}
/*2016/12/26*/
.header canvas{
  display: block;
  width: 100%;
  height: 100%;
}
.header .canv{
  height: 80px;
  width: 100%;
}
@-webkit-keyframes change{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes change{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.header .new-year{
  position: absolute;
  right: 10%;
  display: none;

}
.header .new-year span{
  font-size: 30px;
  opacity: 1;
  margin-left: 20px;
  display: inline-block;
}
.new-year span:nth-child(1){
  color:#DD5145;
  animation: demo 4s linear infinite;
  -webkit-animation: demo 4s linear infinite;
  animation-play-state: running;;
  -webkit-animation-play-state: running;
}
.new-year span:nth-child(1):hover{
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
.new-year span:nth-child(2){
  color:#1BA266;
  animation: demo 4s linear infinite;
  -webkit-animation: demo 4s linear infinite;
  animation-play-state: running;;
  -webkit-animation-play-state: running;
}
.new-year span:nth-child(3){
  color:#FECD45;
  animation: demo 4s linear infinite;
  -webkit-animation: demo 4s linear infinite;
  animation-play-state: running;;
  -webkit-animation-play-state: running;
}
.new-year span:nth-child(4){
  color:#CD0000;
  animation: demo 4s linear infinite;
  -webkit-animation: demo 4s linear infinite;
  animation-play-state: running;;
  -webkit-animation-play-state: running;
}
@-webkit-keyframes demo {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
/*@keyframes demo{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}*/
.container{
    width:100%;
    height: 100%;
    position: relative;
}
.container .sidebar{
    position: absolute;
    left:0;
    top:0;
    width:230px;
    height: 100%;
    min-height: 400px;
    padding:10px 20px;
}
.container .main{
    width:80%;
    height: 100%;
}
.sidebar ul{
    border-top:1px solid #6AB96E;
}
.sidebar .item{
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-bottom: 4px;
    border-bottom: 1px solid #eee;
}
.sidebar .item:hover{
    background-color: #10A0EA;
    color: #fff;
}
.sidebar .item.clicked{
    background-color: #eee;
    color: #10A0EA;
}
.sidebar .item.clicked:before{
    position: absolute;
    left:0;
    bottom: 0;
    display: block;
    content: '';
    width:4px;
    height: 40px;
    background-color: #10A0EA;
}
.sidebar .item:before{
    position: absolute;
    left:0;
    bottom: 0;
    display: block;
    content: '';
    width:4px;
    height: 40px;
    background-color: #F2FAFC;
}
/*主题部分样式*/
.main{
    width:100%;
    height:100%;
    margin-left: 270px;
    position: relative;
    padding:10px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 407px;

}
/*定位*/
.main .main-abs{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
}
.main .main-mod p {
    font-size: 14px;
    position: relative;
    padding-left: 8px;
    color: #10A0EA;
}
.main .main-mod p:before {
    position: absolute;
    left:0;
    bottom: 0;
    display: block;
    content: '';
    width:4px;
    height: 19px;
    background-color: #10A0EA;
}
.main .main-mod{
    min-height: 120px;
    width:100%;
    padding:14px 10px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*内层块*/
.main-mod-sub{
    margin-top:20px;
}
/*li*/
.main-mod .main-mod-con{
    float: left;
    width:auto;
    text-align: center;
    border-radius: 5px;
    border:1px solid #0e90d2;
    transition: .4s all;
    margin:6px 6px;
}
/*链接颜色*/
.main-mod .main-mod-con a{
    display: block;
    padding: 10px 15px;
    color: #000;
    margin: 0 5px;
}
.main-mod .main-mod-con:hover{
    box-shadow: 0 0 6px 1px #0e90d2;
    transform: translateY(-2px);
}
/*toogle*/
.main-abs{
    display: none;
}
.first-main-abs{
    display: block;
}
/*分享本站 样式*/
.basicShareBtn{
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-bottom: 4px;
    border-bottom: 1px solid #eee;
    background-color: #10A0EA;
    color: #fff;
}
#basicShareBg{
    height: 100% !important;
}
/*关于本站*/
.main-mod-about{
    min-height: 120px;
    width: 100%;
    padding: 14px 10px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.main-mod-about h2{
    color: #0e90d2;
    margin-bottom: 20px;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3CF;
}
.main-mod-about .art{
    padding-top:30px;
}
/*建议*/
.art .suggest{
    display: inline-block;
    padding: 5px 8px;
    border-radius: 4px;
    margin-right: 5px;
    color: #FFF;
    background-color: #31AAE8;
    transition: all .4s;
}
.art .suggest:hover{
   background-color: #1BA161;
}
/*版本更新*/
.art-version h4{
    height: 22px;
    line-height: 22px;
    width:100%;
    background-color: #eee;
    position: relative;
    padding-left: 10px;
}
.art-version h4:before{
    width: 4px;
    height: 22px;
    content: '';
    display: block;
    background-color: #1BA161;
    position: absolute;
    top:0;
    left:0;
}
.art-version ul{
    box-sizing: border-box;
    padding: 10px;
}
.art-version ul li{
    list-style: square;
    margin-left: 20px;
    font-size: 12px;
    padding: 4px 0;
}
@media screen and (max-width: 800px) {
    .header{
        width:100%;
        height: 40px;
        line-height: 40px;
        position: relative;
        text-align: center;
        border-bottom: 1px solid #ececec;
        background-color: #31AAE8;
    }
    .header h2{
        position:static;
        font-size: 14px;
        /*left: 40px;*/
    }
    .header .btn{
        position: absolute;
        top:50%;
        left:18px;
        margin-top:-10px;
        width: 20px;
        height: 20px;
        background: url("../img/btn.png") no-repeat;
        background-size: 20px;
        display: block;
    }
    .header .logo{
        display: none;
    }
    .header .canv{
      display: none;
    }
    .main .main-mod{
        min-height: 100px;
    }
    .main-mod .main-mod-con a{
        display: block;
        padding: 4px 4px;
        color: #000;
        margin: 0 5px;
    }
    .container .sidebar{
        position: fixed;
        left:-45%;
        top:41px;
        width:45%;
        height: 100%;
        min-height: 400px;
        padding:0;
        z-index: 100;
        /*display: none;*/
        background: #fff;
    }
    .container .sidebar.toogle{
        display: block;
    }
    .sidebar ul{
        border-top:none;
    }
    .container .main{
        width:100%;
        height: 100%;
    }
    .main{
        margin-left: 0;
    }
    /*关于本站*/
    .main-mod-about{
        min-height: 120px;
        width: 100%;
        padding: 8px 10px 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .main-mod-about h2{
        color: #0e90d2;
        margin-bottom: 20px;
        font-size: 14px;
        padding-bottom: 10px;
        border-bottom: 1px solid #3CF;
    }
    .main-mod-about .art{
        padding-top:15px;
    }
    /*版本更新*/
    .art-version h4{
        height: 22px;
        line-height: 22px;
        width:100%;
        background-color: #eee;
        position: relative;
        padding-left: 10px;
        font-size: 12px;
        color: #1BA161;
    }
    .art-version ul li{
        color: #817E7E;
    }
}
